body {
    font-family: 'Rajdhani';
    font-style: normal;
    background: linear-gradient(135deg, #FAFAFA 0%, #E5F0E1 100%) fixed;
}

body.dark-mode {
    background: linear-gradient(0deg, rgba(8, 8, 7, 0.75), rgba(8, 8, 7, 0.75)), #23395A fixed;
    color: white;
}

#age {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    /* letter-spacing: -1.6px; */
    color: #080807;
    /* line-height: 50px; */
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    align-items: center;
    height: fit-content;
}

#age.dark-mode {
    color: #FFFFFF !important;
}

sup {
    position: relative;
    top: 5px;
    font-size: 40px;
}

#life {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    /* letter-spacing: -1.6px; */
    color: #080807;
    width: 90px;
    position: relative;
    top: 0px;
    background-color: white;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 4px;
    padding-left: 6px;
    border: 1px solid gray;
}

#life.dark-mode {
    background: linear-gradient(0deg, rgba(15, 20, 28, 0.58), rgba(15, 20, 28, 0.58)), #21262D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.main-box {
    display: flex;
    /* spread out */
    justify-content: flex-start;
    flex-direction: column;
    padding: 16px 14px 18px;
    min-width: 600px;
    max-width: 600px;
    min-height: 180px;
    max-height: 180px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    /* center from top and above */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-box.dark-mode {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.07) 100%) fixed;
    color: white !important;
}


.progress {
    height: 9px;
    width: 90%;
    background-color: #E5F0E1;
    border-radius: 20px;
}

.progress.dark-mode {
    background: rgba(229, 240, 225, 0.15);
}

.progress-done {
    height: 100%;
    width: 0;
    opacity: 0;
    background: linear-gradient(269.95deg, #5BC93C -0.17%, #C7E0C0 99.83%);
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 3px 3px -5px #70f2b3, 0 2px 5px #70f2a8; */
    transition: 1s ease;
}


.life-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.debug {
    /* border: 1px solid black; */
}


footer {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: large;
    width: max-content;
    margin-left: auto;
    width: 100%;
    bottom: 100px;
}

input {
    box-sizing: border-box;
    align-items: center;
    padding: 16px 24px;
    width: 220px;
    background: #FFFFFF;
    border: 1px solid rgba(121, 118, 117, 0.16);
    border-radius: 12px;
    margin: 5px;
}

button {
    box-sizing: border-box;
    align-items: center;
    padding: 8px 12px;
    color: white;
    border: 1px solid rgba(121, 118, 117, 0.16);
    border-radius: 8px;
    background: #0F141C;
}

button:hover {
    cursor: pointer;
}

#input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
}

p {
    font-size: 15px;
}

a {
    font-style: bold;
    color: blue;
    text-decoration: none;
}

form {
    display: none;
}

.line {
    margin: auto;
    padding: 10px;
    width: 80%;
    border-top: 0.1px solid black;
    position: relative;
    bottom: 7px;
    opacity: 0.20;
}

.line.dark-mode {
    border-top: 0.1px dotted lightgray !important;
    opacity: 0.25;
}

.age-label {
    position: relative;
    bottom: 30px;
}
.life-label{
    position: relative;
    top: 10px;
}

.label {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #737373;
    width: 30px;
    margin: auto;
}

.setting {
    position: fixed;
    right: 20px;
    top: 10px;
    display: flex;
    width: auto;
    align-items: space-between;
    justify-content: center;
}

@keyframes change {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}

.change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
}